# Abdis' Course 9 Week 3 Assignment #
This assignment is part one and create the required dataframe.
Letâ€™s start the assignment by importing the library we need.

In [1]:
import numpy as np
import pandas as pd

#### Get the data from the csv file and create the dataframe using pandas
I didn't use the website scraping I should be install the lxml for that I couldn't do it in my docker container. So I simply copy the table and save it as csv and uploaded to my Jupyter Notebook.

In [2]:
toronto_df = pd.read_csv('Toronto_Postalcode.csv')
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

See what is the sape of initial dataframe?

In [3]:
toronto_df.shape

(289, 3)

In [4]:
list(toronto_df)

['Postcode', 'Borough', 'Neighbourhood']

Let's keep the cells that have an assigned borough.

In [5]:
toronto_df1 = toronto_df[toronto_df.Borough !='Not assigned']
toronto_df1.shape

(212, 3)

Now combine the rows that have the same postcode and separate the neighborhoods with comma.

In [6]:
toronto_df2 = toronto_df1.groupby('Postcode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
toronto_df2.shape

(103, 3)

In [7]:
toronto_df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Rouge Hill, Highland Creek, Port Union
2      M1E  Scarborough       West Hill, Guildwood, Morningside
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Now any row that has Not assigned in its Neighbourhood column replace it with Borough

In [9]:
value=toronto_df2['Borough']
toronto_df3= toronto_df2.replace({'Neighbourhood': 'Not assigned'}, {'Neighbourhood': value}, regex=True)
toronto_df3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Rouge Hill, Highland Creek, Port Union
2      M1E  Scarborough       West Hill, Guildwood, Morningside
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [11]:
toronto_df3.shape

(103, 3)

### First part of the assignment completed I prepare the data for the second one

In [12]:
toronto_df3.set_index('Postcode', inplace = True)
toronto_df3.head()

              Borough                           Neighbourhood
Postcode
M1B       Scarborough                          Rouge, Malvern
M1C       Scarborough  Rouge Hill, Highland Creek, Port Union
M1E       Scarborough       West Hill, Guildwood, Morningside
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae

In [13]:
toronto_df3.to_csv('SeconPartData')